@font-face {
    font-family: Montserrat-Regular;
    src: url('src/assets/fonts/Montserrat/Montserrat-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Light;
    src: url('src/assets/fonts/Montserrat/Montserrat-Light.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Black;
    src: url('src/assets/fonts/Montserrat/Montserrat-Black.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('src/assets/fonts/Montserrat/Montserrat-Bold.ttf'); 
  }
  
  .l1-txt1 {
    font-family: Montserrat-Black;
    font-size: 35px;
    color: #ef3743;
    text-transform: uppercase;
  }

  .l1-txt4 {
    font-family: Montserrat-Bold;
    font-size: 30px;
    color: #000;
    line-height: 1.2;
  }

  .l1-txt5 {
    font-family: Montserrat-Light;
    font-size: 17px;
    color: #000;
    line-height: 1.2;
  }

  .l1-txt6 {
    font-family: Montserrat-Light;
    font-size: 20px;
    color: #000;
  }
  
  .l1-txt3 {
  
    font-family: Montserrat;
    font-size: 20px;
    color: #000;
    line-height: 1.2;
  }
  
  .l1-txt2 {
    font-family: Montserrat-Light;
    font-size: 17px;
    color: #000;
    line-height: 1.2;
  }
  
  .btn {
    font-family: Montserrat;
    font-size: 15px;
    color: #ffff;
  }