<div class="container" >

        <img src="assets/img/tichlogo.png" style="width:20%; min-width:100px;">  

        <div class="container">
            
            <div class="row">

                <div class="col-sm-7">
                    <h3 class="l1-txt1">¿Qu&eacute; es TichWeb?</h3>
                        <p class="l1-txt2">Es una aplicación de tutorías en línea “one-on-one” a través de video en tiempo real
                            (PC, Tablet o teléfono inteligente) entre tutor y alumno, en diferentes materias 
                            escolares para reforzar su conocimiento y auxiliarlos en lograr su avance y éxito académico.
                        </p>
                        
                        <br/>
                    <h2 class="l1-txt4">¿A quiénes se les darán las Tutorías? </h2>

                    <ul class="list-group list-group-flush">
                            <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                                <img src="assets/img/student.png" style="width:7%; min-width:50px;">  
                                Estudiantes de Educación básica</li>
                            <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                                <img src="assets/img/student2.png" style="width:7%; min-width:50px;"> 
                                Estudiantes de Secundaria</li>
                            <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                                <img src="assets/img/boy.png" style="width:7%; min-width:50px;"> 
                                Estudiantes de Preparatoria</li>
                            <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                                <img src="assets/img/student4.png" style="width:7%; min-width:50px; border: 0 none;"> 
                                Estudiantes Universitarios</li>
                          </ul>
                          <br/>
                    <h2 class="l1-txt4">¿Quién puede ser Tutor en Tichweb?</h2>
                    <ul class="list-group list-group-flush">
                            <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                                <img src="assets/img/professorJubilado.png" style="width:7%; min-width:50px;">  
                                Profesores Jubilados</li>
                            <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                                <img src="assets/img/education.png" style="width:7%; min-width:50px;"> 
                                Profesores en activo</li>
                            <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                                <img src="assets/img/student4.png" style="width:7%; min-width:50px; border: 0 none;"> 
                                Estudiantes Universitarios</li>
                            <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                                <img src="assets/img/lecture.png" style="width:7%; min-width:50px; border: 0 none;"> 
                                Profesionistas Independientes</li>
                          </ul>
                          <br>
                    <h2 class="l1-txt1">Pasos para tu Pre-Registro</h2>
                    <p class="l1-txt5">
                            Llenado de la forma de registro: <br/>
                                 1. Registro de datos personales <br/>
                                 2. Registro de documentos disponibles <br/>
                                 3. Registro de materias a impartir.<br/>
                    </p>
                    <p class="l1-txt2">
                            Una vez registrado, te llegará una confirmación a tu mail. <br/>
                            En el período de no más de un mes, se te citará con un número de folio y una ficha de registro para posteriores procesos.
                    </p>

                </div>

                <div class="col-sm-5" style="background:rgba(177, 152, 39, 0.342); border-radius: 2.5%;">
                    <form class="text-center p-5">
                        <br/>
                        <p class="l1-txt6">Pre-Registro de Tutores</p>

                        <div class="l1-txt2">
                                <br/>
                                <div class="form-group col-md-12">
                                    <input type="text" id="nombre" class="form-control mb-4" placeholder="Nombre(s)" ng-model="nombre" required>
                                </div>
        
                                <div class="form-row">
                                        <div class="form-group col-md-6">
                                                <input type="text" id="apellidoPaterno" class="form-control" placeholder="Apellido Paterno"ng-model="apellidoPaterno" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                                <input type="text" id="apellidoMaterno" class="form-control" placeholder="Apellido Materno" ng-model="apellidoMaterno" required>
                                        </div>
                                </div>
        
                                <div class="form-group col-md-12">
                                        <input type="email" id="email" class="form-control mb-4" placeholder="E-mail" ng-model="email" required>
                                </div>
                                
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" id="calle" class="form-control mb-4" placeholder="Calle" ng-model="calle" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" id="numExt" class="form-control" placeholder="Num. Exterior #" ng-model="numExt" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" id="colFrac" class="form-control" placeholder="Colonia/Fracc." ng-model="colFrac" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" id="codPostal" class="form-control" placeholder="C.P. #" ng-model="codPostal" required>
                                    </div>
                                </div>
        
                                <div class="form-group col-md-12">
                                        <input type="text" id="estado" class="form-control mb-4" placeholder="Estado/Provincia" ng-model="estado" required>
                                </div>
        
                                <div class="form-group col-md-12">
                                        <input type="date" id="fechaNac" class="form-control mb-4" placeholder="Fecha de Nacimiento YYYY/MM/DD" ng-model="fechaNac" required>
                                </div>
        
                                <div class="form-group col-md-12">
                                        <input type="text" id="telefono" class="form-control" placeholder="Teléfono" aria-describedby="defaultRegisterFormPhoneHelpBlock" ng-model="telefono" required>
                                </div>
        
                                <div class="p-5 text-left">
                                    <div class="form-row col-md-12">
                                        <div class="custom-radio">
                                            <input type="radio" class="custom-control-input" id="masculino" name="inlineDefaultRadiosExample" ng-model="masculino" required>
                                            <label class="custom-control-label" for="defaultInline1" style="padding-right: 50px">Masculino</label>
                                        </div>
                                        <div class="custom-radio">
                                            <input type="radio" class="custom-control-input" id="femenino" name="inlineDefaultRadiosExample" ng-model="femenino" required>
                                            <label class="custom-control-label" for="defaultInline2">Femenino</label>
                                        </div>  
                                    </div> 
                                </div>
        
                                <div class="form-group col-md-12">
                                    <br/>
                                    <select id="ocupacion" class="form-control" ng-model="ocupacion" required>
                                        <option selected>- Seleccionar ocupaci&oacute;n - </option>
                                        <option>Docente Activo</option>
                                        <option>Docente Jubilado</option>
                                        <option>Profesionista</option>
                                        <option>Estudiante Universitario</option>
                                    </select>
                                </div>
                                

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <button class="btn btn-danger btn-block">TEST</button>
                                    </div>
                                </div>

        
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <br/>
                                        <button class="btn btn-primary btn-block my-4" type="submit" ng-model="showmaterias">Continuar</button>
                                        <br/>
                                    </div>
                                </div>


                        </div>

                        <div class="row" id="divMaterias">
                            <div class="col-md-12">
                                <h1 class="tichheader1">Aquí van las materias</h1>
                                <button type="submit">Terminar registro</button>
                            </div>
                        </div>


                    </form>

                </div>

            </div>
        </div>

</div>

<footer>
    <div class="container text-center">
        <h1 class="display-1" style="font-size:48px;">
            <small class="text-muted" style="font-size:10px;">DAICON INNOVATION</small>
        </h1>
    </div>
</footer>



