
<nav class="navbar navbar-expand-lg tichNavBarBackground">
  <a class="navbar-brand" routerLink="/construction"><img src="../assets/img/tichwebfinal-1.png"  height="40" class="d-inline-block align-top" alt=""></a>

  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container-fluid">
    <div class="navbar-collapse collapse" id="navbarNav">
        <ul class="nav navbar-nav mr-auto"></ul>

        <ul class="nav navbar-nav navbar-right l1-txt2">
            <li class="nav-item l1-txt2"><a class="l1-txt2 btn btn-danger btn-block my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal" > Pre-Registrase </a></li>
          </ul>
    </div>
  </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
      <div class="container text-center">
          <h1 class="display-1" style="font-size:48px;">
              <small class="text-muted" style="font-size:10px;">DAICON INNOVATION</small>
          </h1>
      </div>
  </div>