<div class="container-fluid" style="margin-top: 50px; margin-bottom: 100px;">

    <div class="col-md-12 text-center" style="padding-top:2%;">
        <h3 class="l1-txt1">¿Qu&eacute; es TichWeb?</h3>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="col-md-12">
            <br/>
            <p class="l1-txt2">TichWeb es una aplicación de tutorías en línea “one-on-one” a través de video en tiempo real
                (PC, Tablet o teléfono inteligente) entre tutor y alumno, en diferentes materias 
                escolares para reforzar su conocimiento y auxiliarlos en lograr su avance y éxito académico.
            </p>
        </div>
  
        <div class="row" style="margin-top:25px;">
          <div class="col-md-6">
              <h2 class="l1-txt4">¿A quiénes se les darán las Tutorías? </h2>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                      <img src="assets/img/student.png" style="width:7%; min-width:50px;">  
                      Estudiantes de Educación básica</li>
                  <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                      <img src="assets/img/student2.png" style="width:7%; min-width:50px;"> 
                      Estudiantes de Secundaria</li>
                  <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                      <img src="assets/img/boy.png" style="width:7%; min-width:50px;"> 
                      Estudiantes de Preparatoria</li>
                  <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                      <img src="assets/img/student4.png" style="width:7%; min-width:50px; border: 0 none;"> 
                      Estudiantes Universitarios</li>
                </ul>
          </div>
          <div class="col-md-6">
              <h2 class="l1-txt4">¿Quién puede ser Tutor en TichWeb?</h2>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                      <img src="assets/img/professorJubilado.png" style="width:7%; min-width:50px;">  
                      Profesores Jubilados</li>
                  <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                      <img src="assets/img/education.png" style="width:7%; min-width:50px;"> 
                      Profesores en activo</li>
                  <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                      <img src="assets/img/student4.png" style="width:7%; min-width:50px; border: 0 none;"> 
                      Estudiantes Universitarios</li>
                  <li class="list-group-item l1-txt5" style="background-color: #f7cf3c; border: 0 none;">
                      <img src="assets/img/lecture.png" style="width:7%; min-width:50px; border: 0 none;"> 
                      Profesionistas Independientes</li>
                </ul>
          </div>
        </div>
    </div>
  </div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Regístrate</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
    
                <form class="text-center p-5">
                    <div class="form-group col-md-12">
                        <input type="text" #nombre class="form-control mb-4" placeholder="Nombre(s)" ng-model="nombre" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                                <input type="text" #apellidoPaterno class="form-control" placeholder="Apellido Paterno"ng-model="apellidoPaterno" required>
                        </div>
                        <div class="form-group col-md-6">
                                <input type="text" id="apellidoMaterno" class="form-control" placeholder="Apellido Materno" ng-model="apellidoMaterno" required>
                        </div>
                    </div>
    
                    <div class="form-group col-md-12">
                        <input type="email" #correo class="form-control mb-4" placeholder="E-mail" ng-model="email" required>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" id="calle" class="form-control mb-4" placeholder="Calle" ng-model="calle" required>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" id="numExt" class="form-control" placeholder="Num. Exterior #" ng-model="numExt" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" id="colFrac" class="form-control" placeholder="Colonia/Fracc." ng-model="colFrac" required>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" id="codPostal" class="form-control" placeholder="C.P. #" ng-model="codPostal" required>
                    </div>
                </div>
    
                <div class="form-group col-md-12">
                        <input type="text" id="estado" class="form-control mb-4" placeholder="Estado/Provincia" ng-model="estado" required>
                </div>
    
                <div class="form-group col-md-12">
                        <input type="date" #fechaNacimiento class="form-control mb-4" placeholder="Fecha de Nacimiento YYYY/MM/DD" ng-model="fechaNac" required>
                </div>
    
                <div class="form-group col-md-12">
                        <input type="text" id="telefono" class="form-control" placeholder="Teléfono" aria-describedby="defaultRegisterFormPhoneHelpBlock" ng-model="telefono" required>
                </div>
    
                <div class="p-5 text-left">
                    <div class="form-row col-md-12">
                        <div class="custom-radio">
                            <input type="radio" class="custom-control-input" id="masculino" name="inlineDefaultRadiosExample" ng-model="masculino" required>
                            <label class="custom-control-label" for="defaultInline1" style="padding-right: 50px">Masculino</label>
                        </div>
                        <div class="custom-radio">
                            <input type="radio" class="custom-control-input" id="femenino" name="inlineDefaultRadiosExample" ng-model="femenino" required>
                            <label class="custom-control-label" for="defaultInline2">Femenino</label>
                        </div>  
                    </div> 
                </div>
    
                <div class="form-group col-md-12">
                    <br/>
                    <select id="ocupacion" class="form-control" ng-model="ocupacion" required>
                        <option selected>- Seleccionar ocupaci&oacute;n - </option>
                        <option>Docente Activo</option>
                        <option>Docente Jubilado</option>
                        <option>Profesionista</option>
                        <option>Estudiante Universitario</option>
                    </select>
                </div>
                
    
                <div class="form-group col-md-12">
                    <br/>
                    <select id="materiasnivel" class="form-control" ng-model="ocupacion" required>
                        <option selected>- Seleccionar nivel -</option>
                        <option>Docente Activo</option>
                        <option>Docente Jubilado</option>
                        <option>Profesionista</option>
                        <option>Estudiante Universitario</option>
                    </select>
                </div>
                
    
    
                </form>
                
    
    
    
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" (click)="add(nombre.value, correo.value, apellidoPaterno.value, fechaNacimiento.value)">Guardar</button>
            </div>
          </div>
        </div>
</div>

