<div class="container-fluid">

<!--
<div class="row text-center" style="margin-top: 50px; margin-bottom: 25px;">
    <div class="col-md-12">
        <h1 class="l1-txt1">¿Quieres impartir tutorías?</h1>
        <h4 class="l1-txt2">Sé el primero en unirte solo llenando el formulario con tus datos.</h4>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" style="margin-top: 20px;">
            Comenzar ahora
          </button>
        <br>
        <br>
    </div> 
  </div> 

  <div class="container">
            
    <div class="row">

        <div class="col-sm-6">
            <h2 class="l1-txt1">Pasos para tu Pre-Registro</h2>
            <p class="l1-txt5">
                    Llenado de la forma de registro: <br/>
                         1. Registro de datos personales <br/>
                         2. Registro de documentos disponibles <br/>
                         3. Registro de materias a impartir.<br/>
            </p>
            <p class="l1-txt2">
                    Una vez registrado, te llegará una confirmación a tu mail. <br/>
                    En el período de no más de un mes, se te citará con un número de folio y una ficha de registro para posteriores procesos.
            </p>
        </div>

        <div class="col-sm-6" style="background:rgba(177, 152, 39, 0.342); border-radius: 2.5%;">
            <form class="text-center p-5">
                <br/>
                <p class="l1-txt6">Pre-Registro de Tutores</p>

                <div class="l1-txt2">
                        <br/>
                        <div class="form-group col-md-12">
                            <input type="text" #nombre class="form-control mb-4" placeholder="Nombre(s)" ng-model="nombre" required>
                        </div>

                        <div class="form-row">
                                <div class="form-group col-md-6">
                                        <input type="text" #apellidoPaterno class="form-control" placeholder="Apellido Paterno"ng-model="apellidoPaterno" required>
                                </div>
                                <div class="form-group col-md-6">
                                        <input type="text" id="apellidoMaterno" class="form-control" placeholder="Apellido Materno" ng-model="apellidoMaterno" required>
                                </div>
                        </div>

                        <div class="form-group col-md-12">
                                <input type="email" #correo class="form-control mb-4" placeholder="E-mail" ng-model="email" required>
                        </div>
                        
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" id="calle" class="form-control mb-4" placeholder="Calle" ng-model="calle" required>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" id="numExt" class="form-control" placeholder="Num. Exterior #" ng-model="numExt" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" id="colFrac" class="form-control" placeholder="Colonia/Fracc." ng-model="colFrac" required>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" id="codPostal" class="form-control" placeholder="C.P. #" ng-model="codPostal" required>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                                <input type="text" id="estado" class="form-control mb-4" placeholder="Estado/Provincia" ng-model="estado" required>
                        </div>

                        <div class="form-group col-md-12">
                                <input type="date" #fechaNac class="form-control mb-4" placeholder="Fecha de Nacimiento YYYY/MM/DD" ng-model="fechaNac" required>
                        </div>

                        <div class="form-group col-md-12">
                                <input type="text" id="telefono" class="form-control" placeholder="Teléfono" aria-describedby="defaultRegisterFormPhoneHelpBlock" ng-model="telefono" required>
                        </div>

                        <div class="p-5 text-left">
                            <div class="form-row col-md-12">
                                <div class="custom-radio">
                                    <input type="radio" class="custom-control-input" id="masculino" name="inlineDefaultRadiosExample" ng-model="masculino" required>
                                    <label class="custom-control-label" for="defaultInline1" style="padding-right: 50px">Masculino</label>
                                </div>
                                <div class="custom-radio">
                                    <input type="radio" class="custom-control-input" id="femenino" name="inlineDefaultRadiosExample" ng-model="femenino" required>
                                    <label class="custom-control-label" for="defaultInline2">Femenino</label>
                                </div>  
                            </div> 
                        </div>

                        <div class="form-group col-md-12">
                            <br/>
                            <select id="ocupacion" class="form-control" ng-model="ocupacion" required>
                                <option selected>- Seleccionar ocupaci&oacute;n - </option>
                                <option>Docente Activo</option>
                                <option>Docente Jubilado</option>
                                <option>Profesionista</option>
                                <option>Estudiante Universitario</option>
                            </select>
                        </div>
                        
                        
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <button class="btn btn-danger btn-block">TEST</button>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <br/>
                                <button class="btn btn-primary btn-block my-4" type="submit" ng-model="showmaterias"
                                        (click)="add(nombre.value, correo.value, apellidoPaterno.value, fechaNac.value);">
                                    Continuar
                                </button>
                                <br/>
                            </div>
                        </div>


                </div>

                
                <div class="row" id="divMaterias">
                    <div class="col-md-12">
                        <h1 class="tichheader1">Aquí van las materias</h1>
                        <button type="submit">Terminar registro</button>
                    </div>
                </div>


            </form>

        </div>

    </div>
</div> -->

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Regístrate</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          

            <form class="text-center p-5">
                <div class="form-group col-md-12">
                    <input type="text" id="nombre" class="form-control mb-4" placeholder="Nombre(s)" ng-model="nombre" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                            <input type="text" id="apellidoPaterno" class="form-control" placeholder="Apellido Paterno"ng-model="apellidoPaterno" required>
                    </div>
                    <div class="form-group col-md-6">
                            <input type="text" id="apellidoMaterno" class="form-control" placeholder="Apellido Materno" ng-model="apellidoMaterno" required>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <input type="email" id="email" class="form-control mb-4" placeholder="E-mail" ng-model="email" required>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" id="calle" class="form-control mb-4" placeholder="Calle" ng-model="calle" required>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" id="numExt" class="form-control" placeholder="Num. Exterior #" ng-model="numExt" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" id="colFrac" class="form-control" placeholder="Colonia/Fracc." ng-model="colFrac" required>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" id="codPostal" class="form-control" placeholder="C.P. #" ng-model="codPostal" required>
                </div>
            </div>

            <div class="form-group col-md-12">
                    <input type="text" id="estado" class="form-control mb-4" placeholder="Estado/Provincia" ng-model="estado" required>
            </div>

            <div class="form-group col-md-12">
                    <input type="date" id="fechaNac" class="form-control mb-4" placeholder="Fecha de Nacimiento YYYY/MM/DD" ng-model="fechaNac" required>
            </div>

            <div class="form-group col-md-12">
                    <input type="text" id="telefono" class="form-control" placeholder="Teléfono" aria-describedby="defaultRegisterFormPhoneHelpBlock" ng-model="telefono" required>
            </div>

            <div class="p-5 text-left">
                <div class="form-row col-md-12">
                    <div class="custom-radio">
                        <input type="radio" class="custom-control-input" id="masculino" name="inlineDefaultRadiosExample" ng-model="masculino" required>
                        <label class="custom-control-label" for="defaultInline1" style="padding-right: 50px">Masculino</label>
                    </div>
                    <div class="custom-radio">
                        <input type="radio" class="custom-control-input" id="femenino" name="inlineDefaultRadiosExample" ng-model="femenino" required>
                        <label class="custom-control-label" for="defaultInline2">Femenino</label>
                    </div>  
                </div> 
            </div>

            <div class="form-group col-md-12">
                <br/>
                <select id="ocupacion" class="form-control" ng-model="ocupacion" required>
                    <option selected>- Seleccionar ocupaci&oacute;n - </option>
                    <option>Docente Activo</option>
                    <option>Docente Jubilado</option>
                    <option>Profesionista</option>
                    <option>Estudiante Universitario</option>
                </select>
            </div>
            

            <div class="form-group col-md-12">
                <br/>
                <select id="materiasnivel" class="form-control" ng-model="ocupacion" required>
                    <option selected>- Seleccionar nivel -</option>
                    <option>Docente Activo</option>
                    <option>Docente Jubilado</option>
                    <option>Profesionista</option>
                    <option>Estudiante Universitario</option>
                </select>
            </div>
            


            </form>
            



          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
</div>


</div>

