@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: Montserrat-Regular;
    src: url('src/assets/fonts/Montserrat/Montserrat-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Light;
    src: url('src/assets/fonts/Montserrat/Montserrat-Light.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Black;
    src: url('src/assets/fonts/Montserrat/Montserrat-Black.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('src/assets/fonts/Montserrat/Montserrat-Bold.ttf'); 
  }
  
  .l1-txt1 {
    font-family: Montserrat-Black;
    font-size: 35px;
    color: #ef3743;
    text-transform: uppercase;
  }

  .l1-txt4 {
    font-family: Montserrat-Bold;
    font-size: 25px;
    color: #000;
    line-height: 1.2;
  }

  .l1-txt5 {
    font-family: Montserrat-Light;
    font-size: 17px;
    color: #000;
    line-height: 1.2;
  }

  .l1-txt6 {
    font-family: Montserrat-Light;
    font-size: 20px;
    color: #000;
  }
  
  .l1-txt3 {
  
    font-family: Montserrat;
    font-size: 20px;
    color: #000;
    line-height: 1.2;
  }
  
  .l1-txt2 {
    font-family: Montserrat-Light;
    font-size: 17px;
    color: #000;
    line-height: 1.2;
  }
  
  .btn {
    font-family: Montserrat;
    font-size: 15px;
    color: #ffff;
  }


  /* TICH STYLES */ 

  .tichNavBarBackground{
    background-image: linear-gradient(to top left,#f7a53b, #f7cf3c);
  }

  .tichheader1{
    font-family: Montserrat-Bold;
    color: #ef3743;
    font-size: 30px;
  }

  .tichsubtitle{
    font-family: Montserrat-Regular;
    color: #000000;
    font-size: 15px;
  }

  .tichsimpletext{
    font-family: Montserrat-Light;
    color: black;
    font-size: 12px;
  }

  .tichmenulink{
    font-family: Montserrat-Light;
    font-size: 17px;
    color: #000;
    line-height: 1.2;
  }

/* ANIMATIONS */ 
.element{
  /*
  animation: pulse 5s infinite;
  animation-timing-function: ease-in;
  */
  animation: pulse 3s ease infinite alternate;
}
@keyframes pulse {
  0% {
      background-color: #f7cf3c;
  }
  100% {
      background-color: #f7a53b;
  }
  0% {
      background-color: #f7cf3c;
  }
}





.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

